body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f5f2;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #f05565;
  font-size: 2em;
}

h2 {
  color: #394240;
  font-size: 1.5em;
}

p {
  color: #666;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
  padding: 10px;
  background-color: #f8d3da;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f0a4ae;
}

div {
  margin-top: 20px;
}

/* Songs list */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f0f0f0;
}
